page-quizzes {
  .scroll-content {
      background-color: #f3f3f5;
  }
  .col{
    padding: 0px !important;
    align-self: center;
  }


  ion-card {
    position: relative;
    height: 16rem;
    text-align: center;
    ion-card-header{
      background:  map-get($colors, quizbox) !important;
      height: 6.3rem;
      box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.10);

    }
    ion-card-content{
      padding-top: 2rem !important;

    }
    b{
      color:white;
    }
    
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
  }

  .solved{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
	  height: 0;
    border-top: 65px solid  map-get($colors, checked);
    opacity:0.90;  
    border-right: 65px solid transparent;
  }

  .solved-icon{
     position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
  }

  ion-footer{
    background: map-get($colors, bg);
  }

    ion-fab[bottom][edge] {
      bottom: 70px !important;
    }

    ion-fab[right] {
    right: 0px !important;
}
  
}

