page-quizzes {

  $ribbon-bg: #bb3a34;
  $ribbon-hl: #e74841;
  $ribbon-w: 20px;
  $ribbon-tail: 10px;

  .scroll-content {
      background-color: map-get($colors, btn-login);
  }
  .col{
    padding: 0px !important;
    align-self: center;
  }


  ion-card {
    //  background: rgba(0, 161, 223, 0.3) !important;
    position: relative;
    height: 16rem;
    text-align: center;
    ion-card-header{
      background: #6DAEDB !important;
      height: 6.3rem;

      //padding-bottom: 1rem;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    }
    ion-card-content{
      padding-top: 2rem !important;

    }
    .ribbon {
      padding:0 0 $ribbon-tail 0;
      position:absolute;
      left:0.25em;
      top:-0.25em;
      width:$ribbon-w;

      div {
        background:$ribbon-bg;
        background: linear-gradient($ribbon-hl 0%, $ribbon-bg 100%);
        color:#fff;
        padding:0.5em 0;
        text-align:center;
        text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
      }

      div:after {
        border-left: $ribbon-w/2 solid $ribbon-bg;
        border-right: $ribbon-w/2 solid $ribbon-bg;
        border-bottom: $ribbon-tail solid transparent;
        bottom:0;
        content:'';
        height: 0;
        left:0;
        position:absolute;
        width: 0;
      }
    }
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
  }

  .solved{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    color: #fff;
    background-color: rgba(164, 230, 228, 0.3);
    padding: 0;
     ion-chip {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
     }

  }

  ion-footer{
    background: map-get($colors, backgroundColor);
  }
}
