<ion-header>

  <ion-navbar>
    <ion-title text-wrap>{{chapter?.chapterId}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="nature">
      <ion-segment-button value="application" text-wrap>
        Application
      </ion-segment-button>
      <ion-segment-button value="memory">
        Memory
      </ion-segment-button>
      <ion-segment-button value="speed">
        Speed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div [ngSwitch]="nature">

    <ion-grid *ngSwitchCase="'application'">
      <ion-row>
        <ion-col *ngFor="let quiz of applicationQuiz; let i = index" col-6 class="list-grow-animation">
          <a (tap)="toQuiz(quiz)">
            <ion-card tappable>
             <div class="solved" *ngIf="isSolved(quiz)">
                
              </div>
              <div class="solved-icon" *ngIf="isSolved(quiz)">
                <button ion-button icon-only clear>
                  <ion-icon color="light" name="md-checkmark"></ion-icon>
                </button>
              </div>

              <ion-card-header text-center text-wrap>

                <b>{{ quiz.quizTitle }}</b>
                
              </ion-card-header>
              <ion-card-content>
                <p text-center>{{quiz.questions.length}} Questions</p>
                <div class="center">
                  <ion-chip text-center>
                    <ion-icon name="md-time" color="quizbox"></ion-icon>
                    <ion-label>{{quiz.timeInMins}}:00 mins</ion-label>
                  </ion-chip>
                </div>
              </ion-card-content>
            </ion-card>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngSwitchCase="'memory'">
      <ion-row>
        <ion-col *ngFor="let quiz of memoryQuiz; let i = index" col-6 class="list-grow-animation">
          <a (tap)="toQuiz(quiz)">
            <ion-card tappable>

              <div class="solved" *ngIf="isSolved(quiz)">
              </div>
              <div class="solved-icon" *ngIf="isSolved(quiz)">
                <button ion-button icon-only clear>
                  <ion-icon color="light" name="md-checkmark"></ion-icon>
                </button>
              </div>
              <ion-card-header text-center text-wrap>
                <b>{{ quiz.quizTitle }}</b>
              </ion-card-header>
              <ion-card-content>
                <p text-center>{{quiz.questions.length}} Questions</p>
                <div class="center">
                  <ion-chip text-center>
                    <ion-icon name="md-time" color="quizbox"></ion-icon>
                    <ion-label>{{quiz.timeInMins}}:00 mins</ion-label>
                  </ion-chip>
                </div>
              </ion-card-content>
            </ion-card>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid *ngSwitchCase="'speed'">
      <ion-row>
        <ion-col *ngFor="let quiz of speedQuiz; let i = index" col-6 class="list-grow-animation">
          <a (tap)="toQuiz(quiz)">
            <ion-card tappable>
              <div class="solved" *ngIf="isSolved(quiz)">
              </div>
              <div class="solved-icon" *ngIf="isSolved(quiz)">
                <button ion-button icon-only clear>
                  <ion-icon color="light" name="md-checkmark"></ion-icon>
                </button>
              </div>
              <ion-card-header text-center>
                <b>{{ quiz.quizTitle }}</b>
              </ion-card-header>
              <ion-card-content>
                <p text-center>{{quiz.questions.length}} Questions</p>
                <div class="center">
                  <ion-chip text-center text-wrap>
                    <ion-icon name="md-time" color="quizbox"></ion-icon>
                    <ion-label text-left>{{quiz.timeInMins}}:00 mins</ion-label>
                  </ion-chip>
                </div>
              </ion-card-content>
            </ion-card>
          </a>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-border>
  <button ion-button block color="btn" (tap)="toAnalysis()">Get Analysis of this Chapter</button>
</ion-footer>