page-login {

    h6 {
        text-align: center;
    }

    hr {
        width: 30px;
        border-bottom: 1px solid #2196F3;
    }
    .bg {
        background-color:#035E7B;
        color: black;
    }
    .item.item-input {
        background-color: transparent;
        color: white;
    }
}
