<ion-header color="headerColor">

  <ion-navbar no-border color="headerColor">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Video Library</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="course" color="headerColor">
      <ion-segment-button value="ca" color="headerColor">
        CA
      </ion-segment-button>
      <ion-segment-button value="cs" color="headerColor">
        CS
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="card-background-page background" scroll="false">
<!--CS VIDEOS-->
  <div [ngSwitch]="course">
    <ion-list *ngSwitchCase="'ca'">
      <ion-item-group *ngFor="let stage of caGroup?.stage">
        <ion-item-divider color="light">{{ stage.stageId | uppercase }}</ion-item-divider>
        <ion-item *ngFor="let subject of stage.subject" (click)="toggleDetails(subject.subjectId)">
          {{subject.subjectId | titlecase}}
          <div *ngIf="show === subject.subjectId">
            <ion-list *ngFor="let type of subject.type" class="inner-list" no-lines>
              <button ion-item [navPush]="library" [navParams]="type.sets">
                {{type.typeId | titlecase}}
              </button>
            </ion-list>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>

<!--CS VIDEOS-->
    <ion-list *ngSwitchCase="'cs'">
      <ion-item-group *ngFor="let stage of csGroup?.stage">
        <ion-item-divider color="light">{{ stage.stageId | uppercase }}</ion-item-divider>
        <ion-item *ngFor="let subject of stage.subject" (click)="toggleDetails(subject.subjectId)">
          {{subject.subjectId | titlecase}}
          <div *ngIf="show === subject.subjectId">
            <ion-list *ngFor="let type of subject.type" class="inner-list" no-lines>
              <button ion-item [navPush]="library" [navParams]="type.sets">
                {{type.typeId | titlecase}}
              </button>
            </ion-list>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>



</ion-content>
