page-analyse-me {
  vg-player {
      font-family: 'videogular';
      position: relative;
      display: flex;
      height: 90vh;
      overflow: hidden;
      background-color: black;
  }


  ion-item.quiz, ion-item.item.item-block.item-radio.item-ios, ion-item.item-md, ion-item.item-wp{
    font-size: 1.7rem !important;
  }

  ion-list{
    padding: 10px;
  }

  #solutions{
    #resultGrid{
          padding: 0px !important;
      }

      ion-label.label.label-md, ion-label.label.label-ios{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
  }


      .choices{
          div {
            max-height: 200px;
            height: 40px;
            line-height: 40px;
            //text-align: center;
            //border: 2px dashed #f69c55;
            overflow-y: scroll;
            font-size: 1.6rem;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
          }
      }

      .right{
          background-color: rgba(144, 238, 144, 0.3);
          color: #32db64;
      }

      .wrong{
          background-color: rgba(240, 128, 128, 0.3);
          color: red;
      }

         ion-card-title.card-title.card-title-md, ion-card-title.card-title.card-title-ios,
          ion-card-title.card-title.card-title-wp{
            font-size: 1.7rem !important;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
          }

      .background{
     background: #D3D3D3 no-repeat;
     background-size: cover;
   }
}


