page-analyse-me {
  vg-player {
      font-family: 'videogular';
      position: relative;
      display: flex;
      height: 90vh;
      overflow: hidden;
      background-color: black;
  }

  .quiz{
    padding: 16px;
  }
  // #profile-bg {
  //       position: fixed;
  //       left: 0;
  //       top: 44px;
  //       width: 100%;
  //       height: 175px;
  //       background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;
  //       background-size: 100%;
  //       background-position: 50% 20%;

  //       text-align: center;
  //     }

      #content {
        position: relative;
        margin-top: 50px;
        background-color: transparent;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #profile-name {
        color: #444;
        font-size: 26px;
      }
      #profile-description {
        font-size: 15px;
        color: #888;
      }
      #profile-description a {
        color: #888;
      }

      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;

      }

      .background{
     background: #D3D3D3 no-repeat;
     background-size: cover;
   }
}
