page-quiz {
  @import "../../assets/scss/_circle.scss";
  @import url('https://fonts.googleapis.com/css?family=Barrio');
  @import url('https://fonts.googleapis.com/css?family=Lobster');
    $font-family-base: "Barrio";
    $font-family-md-base: "Barrio";
    $font-family-ios-base: "Barrio";
    $font-family-wp-base: "Barrio";

  ion-content, .scroll-content {
    //background: map-get($colors, btn );
    //  background: #2c3e50;  /* fallback for old browsers */
    //   background: -webkit-linear-gradient(to bottom, #005C9C, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    //   background: linear-gradient(to bottom, #005C9C, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      //background-image: url('https://s-media-cache-ak0.pinimg.com/736x/15/dd/54/15dd541e705f168a8027be8849424388--wall-tiles-evans.jpg');
      background-image: url('../assets/images/quizbg.jpg');
      background-size: cover;
      background-position-x: 50%;
    }

  .results{
    padding: 12px;
  }

  .marks{
    padding-right: 20px;
    padding-left: 20px;
  }

  .slide-zoom{
    text-align: left !important;
  }

  ion-item.quiz, ion-item.item.item-block.item-radio.item-ios, ion-item.item-md, ion-item.item-wp{
    font-size: 1.7rem !important;
  }

  #solutions{
    #resultGrid{
          padding: 0px !important;
      }

      ion-label.label.label-md, ion-label.label.label-ios{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
  }

      #actions{
          .newhr {
              border-top: 1px dashed #D1D1D1;
          }
          h3{
            font-family: $font-family-base, cursive !important;
            font-size: xx-large;
          }
      }

      #content {
        position: relative;
        margin-top: 100px;
        // background-color: map-get($colors, light);
        // box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      .quiz-content{
        position: absolute;
        text-align: center;
        width: 100%;
        padding-top: 60px;
      }

      #quiz-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }

      .quiz-description {
        font-size: 18px;
        color: #C8C8C8;
      }

      #quiz-image {
        display: block;
        border-radius: 100px;
        //border: 1px solid #fff;
        width: 175px;
        height: 120px;
        margin: 30px auto 0;
        //box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      .quiz-text{
         color: map-get($colors, light)
      }

      hr.divider{
       border-top: 1px dashed #D1D1D1;
      }

      #correct{
        font-weight: bold;
        font-size: 16px;
        color: #3BC14A;
      }

      #incorrect{
        font-weight: bold;
        font-size: 16px;
        color: #F93943;
      }

      .choices{
          div {
            max-height: 200px;
            height: 40px;
            line-height: 40px;
            //text-align: center;
            //border: 2px dashed #f69c55;
            overflow-y: scroll;
            font-size: 1.6rem;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
          }
      }

      .right{
          background-color: rgba(144, 238, 144, 0.3);
          color: map-get($colors, secondary);
      }

      .wrong{
          background-color: rgba(240, 128, 128, 0.3);
          color: map-get($colors, danger);
      }

      // .question{
      //   height: 20rem;
      //   overflow: scroll;
      // }

         ion-card-title.card-title.card-title-md, ion-card-title.card-title.card-title-ios,
          ion-card-title.card-title.card-title-wp{
            font-size: 1.7rem !important;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 16px !important;
            padding-right: 16px!important;
            padding-top: 0px;
            padding-bottom: 0px;
          }



}
