page-quiz {
  @import "../../assets/scss/_circle.scss";

  .scroll-content {
      background-color: #ADCAD6;
  }

  .results{
    padding: 12px;
  }

  .marks{
    padding-right: 20px;
    padding-left: 20px;
  }

  ion-item.quiz, ion-item.item.item-block.item-radio.item-ios, ion-item.item-md, ion-item.item-wp{
    font-size: 1.7rem !important;
  }

  #solutions{
    #resultGrid{
          padding: 0px !important;
      }

      ion-label.label.label-md, ion-label.label.label-ios{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
      }
  }


  // #quiz-bg {
  //
  //       left: 0;
  //       top: 44px;
  //       width: 100%;
  //       height: 175px;
  //       //background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/94311/bg.jpg') no-repeat transparent;
  //       background-size: 100%;
  //       background-position: 50% 20%;

  //       text-align: center;
  //     }
      #actions{
        padding-top: 16px;
      }

      #content {
        position: relative;
        margin-top: 100px;
        background-color: map-get($colors, light);
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      #quiz-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #quiz-name {
        color: #444;
        font-size: 26px;
      }
      #quiz-description {
        font-size: 20px;
        color: #888;
      }

      #quiz-image {
        display: block;
        border-radius: 100px;
        //border: 1px solid #fff;
        width: 123px;
        height: 120px;
        margin: 30px auto 0;
        //box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      #correct{
        font-size: 18px;
        color: #57A773;
      }

      #incorrect{
        font-size: 18px;
        color: #EE6352;
      }

      ion-footer{
        background-color: map-get($colors, backgroundColor);
      }

      .choices{
          div {
            max-height: 200px;
            height: 40px;
            line-height: 40px;
            //text-align: center;
            //border: 2px dashed #f69c55;
            overflow-y: scroll;
            font-size: 1.6rem;
          }
          span {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
          }
      }

      .right{
          background-color: rgba(144, 238, 144, 0.3);
          color: map-get($colors, secondary);
      }

      .wrong{
          background-color: rgba(240, 128, 128, 0.3);
          color: map-get($colors, danger);
      }

      // .question{
      //   height: 20rem;
      //   overflow: scroll;
      // }

         ion-card-title.card-title.card-title-md, ion-card-title.card-title.card-title-ios,
          ion-card-title.card-title.card-title-wp{
            font-size: 1.7rem !important;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 16px !important;
            padding-right: 16px!important;
            padding-top: 0px;
            padding-bottom: 0px;
          }



}
