page-videos {
  .vid{
    position: relative;
    .play {
      position: absolute;
      top: 36%;
      left: 38%;
      align-content: center;
      text-align: center;
      width: 100%;
    }
  }

}
