<ion-header color="headerColor">

  <ion-navbar color="headerColor">
    <ion-title>{{videoGroup?.setId | titlecase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page background" scroll="false">
  <ion-card *ngFor="let video of videoGroup?.videos; let i = index">
    <ion-card-header text-wrap>
      {{ video.text | titlecase}}
    </ion-card-header>
    <ion-card-content>
      <iframe width="100%" height="250" [src]="video.url | youtube" frameborder="0" allowfullscreen>
      </iframe>
      <ion-row>
        <ion-col text-right>
        <ion-chip (click)="onAddToFavorites(video)" *ngIf="!isFavorite(video)">
          <ion-icon name="heart" color="btn-login"></ion-icon>
          <ion-label>Favourite</ion-label>
        </ion-chip>


          <ion-chip (click)="onRemoveFromFavorites(video)" *ngIf="isFavorite(video)">
            <ion-icon name="heart" color="danger"></ion-icon>
            <ion-label color="danger">Unfavourite</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
