<ion-header>


  <ion-navbar>
    <ion-title>{{videoGroup?.setId }}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content class="card-background-page background" scroll="false">
  <ion-card *ngFor="let video of videoGroup?.videos; let i = index">

    <ion-card-header text-wrap>
      {{ video.text }}
    </ion-card-header>
    <ion-card-content>
      <div class="vid">
        <img [src]="video.url | concat" alt="video.text">
        <div class="play">
          <button ion-fab color="light" (tap)="openVideo(video.url)"><ion-icon name="play"></ion-icon></button>
        </div>
      </div>

      <ion-row>
        <ion-col>
          <ion-chip tappable (tap)="shareSheetShare(video)">
            <ion-icon name='share-alt' color="secondary"></ion-icon>
            <ion-label>Share</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col text-right>
          <ion-chip tappable (tap)="onAddToFavorites(video)" *ngIf="!isFavorite(video)">
            <ion-icon color="btn" name="heart"></ion-icon>
            <ion-label>Favourite</ion-label>
          </ion-chip>

          <ion-chip tappable (tap)="onRemoveFromFavorites(video)" *ngIf="isFavorite(video)">
            <ion-icon name="heart" color="danger"></ion-icon>
            <ion-label color="danger">Unfavourite</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-content>
