page-chapters {
<<<<<<< HEAD
    .a{
        background-color: map-get($colors, chapterA);
    }

    .b{
      background-color: map-get($colors, chapterB);
    }

    .c{
      background-color: map-get($colors, chapterC);
    }

    .background{
      background-color: map-get($colors, backgroundColor);
    }
    ion-footer{
      color: map-get($colors, backgroundColor);
    }
=======

>>>>>>> ca17379111e181f3c4907638d9941b169200b0ae
}
