page-chapters {
   $color: map-get($colors, bg);
   .scroll-content{
      background-color: $color;
    }


  ion-avatar{
    border-radius: 20px;
  }

    ion-grid {
      height: 100%;
      justify-content: center;
    }

    ion-col{
       color: $color;
       height: 2em;
    }
    .a{
        background-color: map-get($colors, chapterA);
    }

    .b{
      background-color: map-get($colors, chapterB);
    }

    .c{
      background-color: map-get($colors, chapterC);
    }
    ion-footer{
      background-color: $color;
    }

    .blank{
       height: 100%;
       width: 100%;
       background-size: contain;
       background-repeat: no-repeat;
     }

     .d{
       background-color: map-get($colors, primary)
     }

}
