<ion-content padding>
  <h6><b>Create an Account</b></h6><hr>

  <form [formGroup] = "form">
  <ion-list no-lines>
  <ion-item>
    <ion-label>
        <ion-icon name="person"></ion-icon>
      </ion-label>
      <ion-input type="text" placeholder="ENTER FULLNAME" formControlName = "fullName" [class.invalid] = "!form.controls.fullName.valid && (form.controls.fullName.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.fullName.valid && (form.controls.fullName.dirty || submitAttempt)" >
    <p>Please enter fullName</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="mail"></ion-icon>
      </ion-label>
      <ion-input type="email" placeholder="ENTER EMAIL" formControlName = "emailId" [class.invalid] = "!form.controls.emailId.valid && (form.controls.emailId.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.emailId.valid && (form.controls.emailId.dirty || submitAttempt)" >
    <p>Please enter emailId</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="call"></ion-icon>
      </ion-label>
      <ion-input type="number" placeholder="ENTER PHONE NUMBER" formControlName = "phoneNumber" [class.invalid] = "!form.controls.phoneNumber.valid && (form.controls.phoneNumber.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.phoneNumber.valid && (form.controls.phoneNumber.dirty || submitAttempt)" >
    <p>Please enter phone number</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="planet"></ion-icon>
    </ion-label>
      <ion-input type="text" placeholder="ENTER ADDRESS" formControlName = "address" [class.invalid] = "!form.controls.address.valid && (form.controls.address.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.address.valid && (form.controls.address.dirty || submitAttempt)" >
    <p>Please enter address</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="locate"></ion-icon>
    </ion-label>
    <ion-input type="number" placeholder = "ENTER PINCODE" formControlName = "pincode" [class.invalid] = "!form.controls.pincode.valid && (form.controls.pincode.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.pincode.valid && (form.controls.pincode.dirty || submitAttempt)" >
    <p>Please enter pincode</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder = "ENTER PASSWORD" formControlName = "password" [class.invalid] = "!form.controls.password.valid && (form.controls.password.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.password.valid && (form.controls.password.dirty || submitAttempt)" >
    <p>Please enter password</p>
  </ion-item>

  <ion-item>
    <ion-label>
        <ion-icon name="help"></ion-icon>
    </ion-label>
    <ion-input type="number" placeholder = "ENTER ATTEMPT NUMBER" formControlName = "attemptNo" [class.invalid] = "!form.controls.attemptNo.valid && (form.controls.attemptNo.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.attemptNo.valid && (form.controls.attemptNo.dirty || submitAttempt)" >
    <p>Please enter pincode</p>
  </ion-item>

  <ion-item>
    <ion-datetime placeholder = "ENTER ATTEMPT DATE" displayFormat="DD-MM-YYYY" formControlName="attemptDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-datetime placeholder = "ENTER DATE OF BIRTH" displayFormat="DD-MM-YYYY" formControlName="attemptDate"></ion-datetime>
  </ion-item>
  </ion-list>

  <div>
    <button ion-button full color = "primary" (tap) = "signupUser()">SIGN UP</button><hr>
    <button ion-button full clear (tap) = "navigateToLogin()">LOGIN</button>
  </div>
</form>
</ion-content>
