<ion-content>
  <h6><b>Create an Account</b></h6><hr>

  <form [formGroup] = "form">
  <ion-list>
  <ion-item>
    <ion-label floating>
        Full Name
    </ion-label>
      <ion-input type="text" formControlName = "fullName" [class.invalid] = "!form.controls.fullName.valid && (form.controls.fullName.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.fullName.valid && (form.controls.fullName.dirty || submitAttempt)" >
    <p>Please enter fullName</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Email
      </ion-label>
      <ion-input type="email"  formControlName = "emailId" [class.invalid] = "!form.controls.emailId.valid && (form.controls.emailId.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.emailId.valid && (form.controls.emailId.dirty || submitAttempt)" >
    <p>Please enter emailId</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Phone Number
      </ion-label>
      <ion-input type="number"  formControlName = "phoneNumber" [class.invalid] = "!form.controls.phoneNumber.valid && (form.controls.phoneNumber.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.phoneNumber.valid && (form.controls.phoneNumber.dirty || submitAttempt)" >
    <p>Please enter phone number</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Address
    </ion-label>
      <ion-input type="text" formControlName = "address" [class.invalid] = "!form.controls.address.valid && (form.controls.address.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.address.valid && (form.controls.address.dirty || submitAttempt)" >
    <p>Please enter address</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Pincode
    </ion-label>
    <ion-input type="number" formControlName = "pincode" [class.invalid] = "!form.controls.pincode.valid && (form.controls.pincode.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.pincode.valid && (form.controls.pincode.dirty || submitAttempt)" >
    <p>Please enter pincode</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Password
    </ion-label>
    <ion-input type="password" formControlName = "password" [class.invalid] = "!form.controls.password.valid && (form.controls.password.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.password.valid && (form.controls.password.dirty || submitAttempt)" >
    <p>Please enter password</p>
  </ion-item>

  <ion-item>
    <ion-label floating>
        Attempt Number
    </ion-label>
    <ion-input type="number" formControlName = "attemptNo" [class.invalid] = "!form.controls.attemptNo.valid && (form.controls.attemptNo.dirty || submitAttempt)"></ion-input>
  </ion-item>
  <ion-item *ngIf = "!form.controls.attemptNo.valid && (form.controls.attemptNo.dirty || submitAttempt)" >
    <p>Please enter pincode</p>
  </ion-item>

  <ion-item>
    <ion-label floating>Attempt Date</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" formControlName="attemptDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>Date of Birth</ion-label>
    <ion-datetime displayFormat="DD-MM-YYYY" formControlName="dob"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Type of Course</ion-label>
    <ion-select formControlName = "typeOfCourse" interface="popover">
      <ion-option value="ca">CA</ion-option>
      <ion-option value="cs">CS</ion-option>
      <ion-option value="bcom">B.COM HONS</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select formControlName = "gender" interface="popover">
      <ion-option value="f">Female</ion-option>
      <ion-option value="m">Male</ion-option>
    </ion-select>
  </ion-item>

  </ion-list>

  <div>
    <button ion-button full color = "btn-login" (tap) = "signupUser()">SIGN UP</button><hr>
    <button ion-button full clear (tap) = "navigateToLogin()">LOGIN</button>
  </div>
</form>
</ion-content>
