<ion-header color="headerColor">

  <ion-navbar no-border-bottom color="headerColor">
    <ion-title>Quiz Library</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="course">
      <ion-segment-button value="ca">
        CA
      </ion-segment-button>
      <ion-segment-button value="cs">
        CS
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content class="background">
  <div class="slider">
    <img src="assets/img/Choose-Your-Topic.png" alt="Choose Your Topic">
  </div>


  <div [ngSwitch]="course">
    <ion-list *ngSwitchCase="'ca'">
      <ion-item-group *ngFor="let stage of caLibrary?.stage">
        <ion-item-divider color="light">{{ stage.stageId | uppercase }}</ion-item-divider>
        <ion-item *ngFor="let subject of stage.subject" (click)="toggleDetails(subject.subjectId)">
          {{subject.subjectId | titlecase}}
          <div *ngIf="show === subject.subjectId">
            <ion-list *ngFor="let fa of subject.fa" class="inner-list" no-lines>
              <button ion-item [navPush]="chaptersPage" [navParams]="fa">
                {{fa.faId | uppercase}}
              </button>
            </ion-list>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-list *ngSwitchCase="'cs'">
      <ion-item-group *ngFor="let stage of csLibrary?.stage">
        <ion-item-divider color="light">{{ stage.stageId | uppercase }}</ion-item-divider>
        <ion-item *ngFor="let subject of stage.subject" (click)="toggleDetails(subject.subjectId)">
          {{subject.subjectId | titlecase}}
          <div *ngIf="show === subject.subjectId">
            <ion-list *ngFor="let fa of subject.fa" class="inner-list" no-lines>
              <button ion-item>
                {{fa.faId | uppercase}}
              </button>
            </ion-list>
          </div>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>


</ion-content>
