page-quiz-library {

  .slider{
    left: 0;
    top: 44px;
    width: 100%;
  }

  .background{
     background: #D3D3D3 no-repeat;
     background-size: cover;
   }

   .inner-list{
          margin-bottom: 0px;
    }
}
