<ion-header>

  <ion-navbar no-border>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

    <ion-card *ngFor="let announcement of announcements">
      <!-- <ion-item>
      <ion-avatar item-start>
        <img src="assets/images/notif.jpg">
      </ion-avatar>
      <h2 text-wrap>{{announcement.title}}</h2>
    </ion-item> -->

      <img [src]="announcement.img" *ngIf="announcement.img" />
        <ion-card-content>
          <ion-card-title>
            {{announcement.title}}
          </ion-card-title>
          <p>{{announcement.message}}</p>



          <ion-row no-padding *ngIf="announcement.downloadLink">
            <ion-col text-center>
              <button ion-button icon-left clear *ngIf="announcement.downloadLink" (tap)="download(announcement);">
              <ion-icon name="cloud-download"></ion-icon>
              <div>Download now!</div>
            </button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col text-left align-self-center>
              <ion-note>
                {{announcement.date | amTimeAgo}}
              </ion-note>
            </ion-col>

            <ion-col text-right>
              <button ion-button color="primary" clear small icon-start (tap)="shareSheetShare(announcement)">
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>

            </ion-col>
          </ion-row>

        </ion-card-content>
        <div class="news" *ngIf="announcement.newsLink">
          <button ion-button full clear (click)="goToNews(announcement.newsLink)" color="light">
            Tap to read more
        </button>

        </div>
    </ion-card>
</ion-content>
