page-announcements {
  .news{
    background-image: url('http://www.pptbackgrounds.org/uploads/soft-wolke-pure-backgrounds-wallpapers.jpg');
    padding: 5px;
    background-repeat: no-repeat;
    //background-position: contain;
    button{
      text-transform: none !important;
      text-align: left;
    }
  }
}
