// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

 @-webkit-keyframes animateInPrimary {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

@-webkit-keyframes animateInSecondary{

  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes listGrow {
  0% {
    -webkit-transform: scale3d(1, 0, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 0);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }

  25% {
    -webkit-transform: translate3d(0,-30%,0);
  }

  50% {
    -webkit-transform: translate3d(0,0,0);
  }

  75% {
    -webkit-transform: translate3d(0,-30%,0);
  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

//here
@-webkit-keyframes slidingAnimation {
  0% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(-70px,0,0);
    -webkit-transform: translate3d(-70px,0,0);
  }

  100% {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
}

.itemSlidingAnimation {
    -webkit-animation: slidingAnimation;
    animation: slidingAnimation;
    -webkit-animation-duration: 1000ms;
    animation-duraton: 1000ms;
}
//to here

.bounce-animation {
  -webkit-animation: bounce ease-in 1;
  animation: bounce ease-in 1;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
}

.list-grow-animation {
  -webkit-animation: listGrow ease-in 1;
  animation: listGrow ease-in 1;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.animate-in-primary {
    -webkit-animation: animateInPrimary;
    animation: animateInPrimary;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}

.animate-in-secondary {
    -webkit-animation: animateInSecondary ease-in 1;
    animation: animateInSecondary ease-in 1;
    -webkit-animation-duration: 750ms;
    animation-duraton: 750ms;
}

.bg{
    background-color: white;
    font-weight: normal;
}

.item-avatar  {
    width:100% !important;
    height : 100% !important;
    max-width: 300px !important;  //any size
    max-height: 500px !important; //any size
}

#menu-head, #menu-toolbar{
  .toolbar-background{
    //height: 250px;
       background-image: url("../assets/images/main.png");
       background-size:cover;
       background-repeat: no-repeat; }
  .item, .toolbar-content{      
      background: transparent;
       h1{
         font-size: 2rem;
       }
        p{
          font-size: 1.3rem;
        }
       h1, p, button{
         color: #fff;
         font-weight:bold;
         
       }
  }
  color: map-get($colors, light);
}
#menu-content{
  .list, .item, .content{
    background: #EFF5FB !important;
    color: #09141F !important;
  }
  background: #EFF5FB !important;
}

#menu{
  .scroll-content{
    background: #EFF5FB;
  }

}

.scroll-content{
 // background: map-get($colors, bg);
 background-image: url("../assets/images/mainbg.png") no-repeat center;
 
}


