// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bg{
    background-color: white;
    font-weight: normal;
}

.item-avatar  {
    width:100% !important;
    height : 100% !important;
    max-width: 300px !important;  //any size
    max-height: 500px !important; //any size
}

#menu-head, #menu-toolbar{
  .item, .toolbar-content, .toolbar-background{
       background: #173753 !important;
       h1{
         font-size: 2rem;
       }
        p{
          font-size: 1.3rem;
        }
       h1, p, button{
         color: #DBE4EE;
       }
  }
  color: map-get($colors, light);
}
#menu-content{
  .list, .item, .content{
    background: #EFF5FB !important;
    color: #09141F !important;
  }
  background: #EFF5FB !important;

}

#menu{
  .scroll-content{
    background: #EFF5FB;
  }
}

.scroll-content{
  background: map-get($colors, bg);
}
