<ion-header color="headerColor">

  <ion-navbar color="headerColor">
    <ion-title>{{libraryGroup.courseId | uppercase}} Video Library</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page background" scroll="false">



  <ion-item-group *ngFor="let stage of libraryGroup.stage">
    <ion-item-divider color="light">{{ stage.stageId | uppercase }}</ion-item-divider>
    <ion-item *ngFor="let subject of stage.subject" (click)="toggleDetails(subject.subjectId)">
      {{subject.subjectId | titlecase}}
        <div *ngIf="show === subject.subjectId">
          <ion-list *ngFor="let type of subject.type" class="inner-list" no-lines>
              <button ion-item [navPush]="libaryPage"
                        [navParams]="type.sets">
                {{type.typeId | titlecase}}
              </button>
          </ion-list>
        </div>
    </ion-item>
  </ion-item-group>


</ion-content>
